{% extends "BonoboBonoboBundle::layout.html.twig" %}

{% block title %}Modifier Bonobo{% endblock %}
 {% block menu %}
     <div id="menu">
         <ul>
             <li class="active"><a href="{{ path('bonobo_bonobo_list') }}" accesskey="1" title="">Liste des Bonobos</a></li>
             <li><a href="{{ path('bonobo_bonobo_ajouter1') }}" accesskey="2" title="">mes informations personnelles</a></li>
             <li><a href="{{ path('bonobo_bonobo_Recherche') }}" accesskey="3" title="">Chercher un Bonobo</a></li>
         </ul>
     </div>
 {% endblock  %}
{% block body %}
<h1>Update Bonobo</h1>
    <br><br>
{{ form_start(form) }}
    <center>
 <table>
     <tr>
         <td>Nom</td>
         <td>{{ form_widget(form.name) }}</td>
     </tr>

     <tr>
         <td>Age</td>
         <td>{{ form_widget(form.age) }}</td>
     </tr>

     <tr>
         <td>Famille</td>
         <td>{{ form_widget(form.famille) }}</td>
     </tr>

     <tr>
         <td>Race</td>
         <td>{{ form_widget(form.race) }}</td>
     </tr>

     <tr>
         <td>Nourriture</td>
         <td>{{ form_widget(form.nourriture) }}</td>
     </tr>

     <tr>
         <td></td>
         <td>{{ form_widget(form.save) }}</td>
     </tr>
 </table>
    <center>
{{ form_end(form) }}
{% endblock %}